# Biodiversidad

## Objetivos del proyecto
El objetivo principal del proyecto es analizar, a partir de los datos, la biodiversidad en los distintos parques. Por lo que entonces debemos comprender varias cosas:

- Cuál es la distribución de estado de conservación para cada especie?
- Existen diferencias significativas entre especies y su estado de conservación?
- Qué animal es el más común y cuál es su distribución entre los distintos parques? 

## Explorando los datos

In [1]:
import pandas as pd

observations = pd.read_csv('observations.csv')
species_info = pd.read_csv('species_info.csv')

In [2]:
observations

,scientific_name,park_name,observations
0,Vicia benghalensis,Great Smoky Mountains National Park,68
1,Neovison vison,Great Smoky Mountains National Park,77
2,Prunus subcordata,Yosemite National Park,138
3,Abutilon theophrasti,Bryce National Park,84
4,Githopsis specularioides,Great Smoky Mountains National Park,85
...,...,...,...
23291,Croton monanthogynus,Yosemite National Park,173
23292,Otospermophilus beecheyi,Bryce National Park,130
23293,Heterotheca sessiliflora ssp. echioides,Bryce National Park,140
23294,Dicranella rufescens,Yosemite National Park,171
23295,Cucurbita pepo,Yosemite National Park,164

In [11]:
print(observations['park_name'].unique())
print(observations['scientific_name'].nunique())

['Great Smoky Mountains National Park' 'Yosemite National Park'
 'Bryce National Park' 'Yellowstone National Park']
5541

In [3]:
species_info

,category,scientific_name,common_names,conservation_status
0,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,NaN
1,Mammal,Bos bison,"American Bison, Bison",NaN
2,Mammal,Bos taurus,"Aurochs, Aurochs, Domestic Cattle (Feral), Dom...",NaN
3,Mammal,Ovis aries,"Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)",NaN
4,Mammal,Cervus elaphus,Wapiti Or Elk,NaN
...,...,...,...,...
5819,Vascular Plant,Solanum parishii,Parish's Nightshade,NaN
5820,Vascular Plant,Solanum xanti,"Chaparral Nightshade, Purple Nightshade",NaN
5821,Vascular Plant,Parthenocissus vitacea,"Thicket Creeper, Virginia Creeper, Woodbine",NaN
5822,Vascular Plant,Vitis californica,"California Grape, California Wild Grape",NaN
5823,Vascular Plant,Tribulus terrestris,"Bullhead, Caltrop, Goathead, Mexican Sandbur, ...",NaN

In [10]:
print(species_info['category'].unique())
print(species_info['scientific_name'].nunique())
print(species_info['common_names'].nunique())
print(species_info['conservation_status'].unique())

['Mammal' 'Bird' 'Reptile' 'Amphibian' 'Fish' 'Vascular Plant'
 'Nonvascular Plant']
5541
5504
[nan 'Species of Concern' 'Endangered' 'Threatened' 'In Recovery']